<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'users:user_profile' %}"><b style="color: white;">Online</b><b style="color: darkcyan;">Teacher</b> | {{ user }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><b style="color: white;">Online</b><b style="color: darkcyan;">Teacher</b></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'users:user_profile' %}">Bosh sahifa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_today' %}">Bugungi Vazifalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'no_complited_task' %}">Tugatilmagan Vazifalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bildirish nomalar</a>
                    </li>
                    {% if user.teacher %}              
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_task' %}">Vazifalar qo'shish</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:user_logout' %}">Chiqish</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>